/*Custom*/
.main
	&-intro
		width: 40%
		margin: auto
		font-weight: 600


.u
	&-item
		&-inputs
			position: fixed
			z-index: 33
			top: 0
			bottom: 0
			left: 0
			width: 185px
			padding: 1.5rem
			background-color: #2f2825
			min-height: 142px
			padding: 1.5rem 1.5rem 0
			// border-top: 1px solid white
			&-flex
				display: inline-block!important
			&-row
				margin-left: 3rem
			&>h3
				text-transform: capitalize
			&.active .u-item-labels-wrap
				height: 100%
				
		&-labels-wrap
			height: 0px
			overflow: hidden
			+gvTransitionD()
			&>label
				margin-bottom: 2rem
				display: block

		&-text
			input,select
				width: 100%
	&-system
		background-color: #1366ac
		padding: 1.5rem 0
		color: white
		&>h1
			border-bottom: 1px solid white
			width: 600px
		& small
			color: #bbb
	&-container
		&-input
			width: 320px
	&-build
		& div , & section , & article, & span
			border: 1px dashed $third-color
			&:before
				content: attr(class)
				text-transform: capitalize
				display: block
				font-size: 1.2rem
				flex-basis: 100%
			&:hover
				border-color: yellow!important
				cursor: pointer
		& .container
			padding: .5rem 1.5rem 1.5rem

	&-copy
		&-area
			margin-top: $lg
			display: block
			width: 100%
			background-color: #aaa
			border: none!important
			padding: 1.5rem
			resize: none
			min-height: 350px 
			&[disabled]
				cursor: default!important
		&-state
			position: fixed
			top: -100%
			left: 0
			right: 0
			text-align: center
			background-color: #59c7bd
			color: white
			z-index: 155
			+gvTransitionD()
			&.active
				top: 0
			&.warn
				background-color: #9c3434
				top: 0

	&-usage
		border-color: $border-color-default!important
		&::-webkit-input-placeholder
			color: black

		&::-moz-placeholder
			color: black




[data-select]
	animation: changeBorder 250ms alternate infinite
h3[data-select]
	animation: changeColor 500ms alternate infinite

@keyframes changeBorder
	to
		border-color: yellow

@keyframes changeColor
	to
		color: yellowgreen
	
.row
	padding: 1.5rem 0

footer 
	.container, #u-copy-btn
		margin-bottom: 6rem
