//row 
.row
	margin: 0 -1.5rem
	position: relative

//clearfix
.clf
	&:before,&:after
		content: ' '
		display: table
	&:after
		clear: both

.header-head,.container
	&:before,&:after
		content: ' '
		display: table
	&:after
		clear: both


//container
.container
	max-width: 960px
	padding: 0 1.5rem
	margin: 0 auto


/*Grid*/
$base: 12
$gutter: 30
@for $i from 1 through $base
	.gv
		&-#{$i}
			width: (($i / $base) * 100%)
			position: relative
			float: left
			padding: 0  $gutter / 2 + px
			flex-grow: 1

